@charset "UTF-8";

#header-menu {
	display: table;
}

#header-menu > div {
	display: table-cell;
	text-align: center;
	padding-right: 20px;
}

a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:focus { 
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

#header-menu a:link {
	font-size: larger;
}

.pageheading {
	color: black;
}

table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

form > table,
form > table > tbody > tr,
form > table > tbody > tr > th,
form > table > tbody > tr > td {
	border: 0px;
}

button {
	font-size: 16px;
	background-color: cornflowerblue;
	padding: 6px;
	border-radius: 5px;
}

button[type=submit] {
	font-weight: bold;
}

input {
	border: 1px solid;
	border-radius: 4px;
}
